/*общие  положения*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /*общие значения шрифта*/
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #515076;
  
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
}

/*заголовок страницы*/
.title {
  font-size: 70px;
  line-height: 78px;
  margin-bottom: 110px;
  font-weight: 400;
  margin-top: 220px;
  display: block;
  text-align:center;
}

/*ограничение границ страницы и фоновая картинка*/
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1280px;
  height: 1715px;
  /*значения для фонового изображения: 1-путь; 2-свойство чтобы картинка не повторялась;*/
  /*3-позиция картинки; 4-свойство что бы картинка стояла на месте когда страницу прокручивают;*/
  background-image: url(/images/dandelion-background.png);
  background-repeat: no-repeat;
  background-position: 85px 0px;
  background-attachment: fixed;
  background-size: auto;
}

/*границы той части страницы где будут карточки с товарами*/
.container {
  width: 1110px;
  height: 100%;
  margin: 0px;
}

/*положение карточек с товарами на странице*/ 
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
}


/*границы карточки товара + внешние отступы*/
.products__item { 
  width: 340px;
  height: auto;
}

/*значения внутренних отступов у карточки товара*/
.card {
  padding: 25px;
}

/*значения цвета для карточки товара*/
.card_color-backviolet {
  background-color: #F7F7FA;
}

.card_color-backgreen {
  background-color: #bde9be;
}

.card_color-backblue {
  background-color: #bebde9;
}

/*значения ширины и внешнего отступа для изображения товара*/
.card__image {
  width: 290;
  margin-bottom: 30px;
}

/*значения отступов для блока с основным текстом*/
.card__description-block {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
}

/*значения шрифта для категории товара*/
.card__category {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  color: #A5A3B9;
}

/*значения шрифта для названия товара*/
.card__name {
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
}


.card__compaund {
  margin-bottom: 15px;
}

/*значения отступов для блока с составом товара*/
.compaund__components {
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 5px;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 25px;
}

/*значения отступов для блока с ценой товара*/
.card__price{
  display: flex;
  justify-content: space-between;
}

/*значения шрифта для слова "Цена"*/
.card__price-value {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

/*значения шрифта для суммы товара*/
.card__price-sum {
  font-size: 20px;
  line-height: 24px;
}

/*стилизация для кнопок*/
.button-settings {
  width: 340px;
  height: auto;
  padding: 25px;
  background-color: #bebde9;
  color: #515076;
  font-size: 30px;
  font-weight:700;
  text-align: center;
  text-transform: uppercase;
  border: 3px solid #515076;
  border-radius: 15px;
}

/*расположение кнопок*/
.button-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
}

/*перекраска слова "Google"*/
.button-settings span:nth-child(1) {color: blue;}
.button-settings span:nth-child(2) {color: red;}
.button-settings span:nth-child(3) {color: yellow;}
.button-settings span:nth-child(4) {color: blue;}
.button-settings span:nth-child(5) {color: green;}
.button-settings span:nth-child(6) {color: red;}

/*второй цвет для пятой кнопки*/
.button-color {
  background-color: #bde9be;
}