/*общие значения шрифта и границы страницы с продуктами*/
body {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #515076;
  padding: 0;
  margin: 0;
  width: 1280px;
  height: 1715px;
  /*значения для фонового изображения: 1-путь; 2-свойство чтобы картинка не повторялась;*/
  /*3-позиция картинки; 4-свойство что бы картинка стояла на месте когда страницу прокручивают;*/
  background-image: url(/images/dandelion-background.png);
  background-repeat: no-repeat;
  background-position: 85px;
  background-attachment: fixed;
}

/*значения шрифта и отступов для заголовка страницы*/
.title {
  font-size: 70px;
  line-height: 78px;
  margin-bottom: 110px;
  font-weight: 400;
  margin-top: 220px;
  display: block;
  text-align:center;
}

/*значения для всех карточек чтобы раставить их как в figma*/ 
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45;
}

/*значения границ и цвета для карточки товара*/
.product-card {
  /*свойство меняет способ расчета ширины и высоты*/
  /*без него нужно было бы применять для width ширину 290px а не 340px как в figma*/
  /*так как прибовляется к 290 ещё внутренние отступы (290+25+25=340)*/
  box-sizing: border-box;
  /*margin: 22.5px так как общий отступ у карточек должен быть 45px*/
  margin: 22.5px;
  padding: 25px;
  width: 340px;
  height: auto;
  background-color: #F7F7FA;
}

/*значения ширины и внешнего отступа для изображения продукта*/
.product-image {
  width: 290;
  margin-bottom: 30px;
}

/*значения шрифта для категории товара + display: block*/
.category-product {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 5px;
  color: #A5A3B9;
  display: block;
}

/*значения шрифта и внешнего отступа для названия товара*/
.name-product {
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  margin-bottom: 5px;
}

/*значения внешнего отступа для описания товара*/
.description-product {
margin-bottom: 15px;
}

/*значения шрифта и отступов для общего списка состава продукта*/
.ul-nonestyle {
  padding: 0;
  list-style-position: inside;
  list-style: circle;
  margin-top: 5px;
  margin-left: 13px;
  margin-bottom: 25px;
}

/*значения внешнего отступа для отдельных элементов состава продукта*/
.producr-components {
  margin-bottom: 5px
}

/*используем flex в строке где отображается цена, чтобы раздвинуть цену от суммы*/
.card-value-flex {
  display: flex;
  justify-content: space-between;
}

/*значения шрифта для слова "Цена"*/
.value-product {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

/*значения шрифта для суммы*/
.sum-product {
  font-size: 20px;
  line-height: 24px;
}
