/*ограничение границ страницы*/
.main {
  width: 1280px;
  height: 1715px;
}

/*положение карточек с товарами на странице*/ 
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45;
}